@media only screen and (max-width: 1000px) {
    img {
      height: 300px;
      width: 100%;
    }
  }

  nav{
    background-image: url("https://b-static.besthdwallpaper.com/image-of-colored-cubes-in-harmony-with-lights-and-blurred-background-wallpaper-1920x1080-94733_48.jpg");
    padding-top: 40px;
    padding-bottom: 40px;
    border: 2px solid white;
    font-size: 20px;
  }

  .mask-custom-1 {
    backdrop-filter: blur(15px);
    background-color: rgba(255, 255, 255, .2);
    border-radius: 3em;
    border: 2px solid rgba(255, 255, 255, .1);
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
  }
  
  @media (max-width: 767px) {
    .bg-image {
      height: 1400px !important;
    }
  }

  